@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<Dnn.Flow.QuizLearn.Models.SettingsViewModel>

@using System.Web.Mvc
@using System.Web.Mvc.Html
@using DotNetNuke.Web.Mvc.Helpers

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()

<div class="form-group">
    <label for="Mode">Modul működési módja</label>

    @Html.DropDownListFor(
        m => m.Mode,
        Model.AvailableModes,
        new { @class = "form-control" }
    )
</div>

<button type="submit" class="btn btn-primary">
    Beállítások mentése
</button>
}