@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<Dnn.Flow.QuizLearn.Models.Item>>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

<h1>Lilla tesztel</h1>

<div style="color:yellow; font-weight:bold;">
    @ViewBag.TestMessage
</div>
